asgiref
async-timeout
autopep8
cachetools
certifi
charset-normalizer
click
Deprecated
diff-match-patch
Django
django-autotranslate
django-ckeditor
django-embed-video
django-import-export
django-jazzmin
django-js-asset
django-modeltranslation
django-phone-field
django-rq
django-translation-manager
djangorestframework
environ
futures
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
goslate
httplib2
idna
packaging
Pillow
polib
protobuf
pyasn1
pyasn1-modules
pycodestyle
pyparsing
python-gettext
pytz
redis
requests
rq
rsa
six
sqlparse
tablib
toml
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
wrapt
