{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

  <!-- SMALL BANNER -->
  <section class="small-banner">
    <div class="small-banner__bg">
      <img src="{% static 'img/about-us.jpg' %}" alt="banner-img">
    </div>
    <div class="small-banner__content">
      <div class="container">
        <h1 class="banner__carousel-title text-white">
          {% if language == 'uz' %}Kompaniya haqida{% elif language == 'en' %}About the company{% else %}О компании{% endif %}
        </h1>
        <div class="breadcrumb d-flex align-items-center">
          <a href="{% url 'index' %}" class="text-uppercase text-white">{% if language == 'uz' %}Asosiy{% elif language == 'en' %}Home{% else %}Главный{% endif %}</a>
          <div class="breadcrumb-line"></div>
          <a href="#" class="text-uppercase text-white">{% if language == 'uz' %}Kompaniya haqida{% elif language == 'en' %}About the company{% else %}О компании{% endif %}</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /SMALL BANNER -->

  <!-- CONTENT -->
  <section class="content py-3 py-md-5">
    {% if about_us_items %}
      {% for about_us_item in about_us_items %}
        <div class="container">
          <h1 class="section-title">{{ about_us_item.Name }}</h1>
          <div class="line mx-0"></div>
          <div class="content__data">
            {{ about_us_item.Information|safe }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </section>
  <!-- /CONTENT -->

{% endblock content %}