{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load my_tags %}
{% block content %}
  <!-- SMALL BANNER -->
  <section class="small-banner">
    <div class="small-banner__bg">
      <img src="{% static 'img/about-us.jpg' %}" alt="banner-img">
    </div>
    <div class="small-banner__content">
      <div class="container">
        <h1 class="banner__carousel-title text-white">
            {% if new %}{{ new.Name }}{% endif %}
        </h1>
        <div class="breadcrumb d-flex align-items-center">
          <a href="{% url 'index' %}" class="text-uppercase text-white">{% if language == 'uz' %}Asosiy{% elif language == 'en' %}Home{% else %}Главный{% endif %}</a>
          <div class="breadcrumb-line"></div>
          <a href="#" class="text-uppercase text-white">{% if new %}{{ new.Name }}{% endif %}</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /SMALL BANNER -->

  <!-- NEWS-DETAIL -->
  {% if new %}
  <section class="news-detail py-3 py-md-5">
    <div class="container">
      <div class="row g-3">
        {% if video_bool == 1 %}
        <div class="col col-12">
          <div class="news-detail__img">
            <img src="{{ MEDIA_URL }}{{ new.Image.url }}" class="rounded" alt="news-detail-img">
            <span class="news-detail__date">{{ new.Date|date:'d.m.Y' }}</span>
          </div>
        </div>
        {% else %}
        <div class="col col-12">
          <video width="500px" height="500px" class="news-detail__img ratio ratio-16x9" controls>
            <source src="{{ new.Video_file.url }}" type="video/mp4">
           </video>
        </div>
        {% endif %}
        <div class="col col-12">
          <div class="news-detail__content">
            {{ new.Information|safe }}</div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- /NEWS-DETAIL -->


{% endblock content %}