{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

  <!-- FANCYBOX CSS -->
  <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">

  <!-- SMALL BANNER -->
  <section class="small-banner">
    <div class="small-banner__bg">
      <img src="{% static 'img/about-us.jpg' %}" alt="banner-img">
    </div>
    <div class="small-banner__content">
      <div class="container">
        <h1 class="banner__carousel-title text-white">
        {{ product.Type_2.Type_1.get_Type_of_product_display }} - {{ product.Name }}
        </h1>
        <div class="breadcrumb d-flex align-items-center">
          <a href="{% url 'index' %}" class="text-uppercase text-white">
          {% if language == 'uz' %}Asosiy{% elif language == 'en' %}Home{% else %}Главный{% endif %}</a>
          <div class="breadcrumb-line"></div>
          <a href="{% url 'products' id=product.Type_2.Type_1.id %}" class="text-uppercase text-white">{{ product.Type_2.Type_1.Name }}</a>
          <div class="breadcrumb-line"></div>
          <a href="{% url 'product_kategory' id=product.Type_2.id %}" class="text-uppercase text-white">{{ product.Type_2.Name }}</a>
          <div class="breadcrumb-line"></div>
          <a href="#" class="text-uppercase text-white">{{ product.Name }}</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /SMALL BANNER -->

  <!-- PRODUCT DETAIL -->
  <section class="product-detail py-3 py-md-5">
    <div class="container">
      <div class="row g-3">
        <div class="col col-12 col-md-6 col-lg-4">
          <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-inner">
              {% for image in product.Images.all reversed %}
                <div class="carousel-item {% if image == product.Images.all.last %} active {% endif %}" data-bs-interval="2000">
                  <a href="{{ MEDIA_URL }}{{ image.Image.url }}" data-fancybox="gallery">
                    <img src="{{ MEDIA_URL }}{{ image.Image.url }}" alt="slider-img">
                  </a>
                </div>
              {% endfor %}
            </div>
            <div class="carousel-wrapper">
              <div class="carousel-indicators">
              {% for image in product.Images.all reversed %}
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if image == product.Images.all.last %} active {% endif %}"
                aria-current="true">
                <img src="{{ MEDIA_URL }}{{ image.Image.url }}" alt="slider-btn">
              </button>
              {% endfor %}
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-8">
          <div class="product-detail__content">
            {{ product.Information|safe }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /PRODUCT DETAIL -->

  <!-- FANCYBOX JS -->
  <script src="{% static 'js/fancybox.umd.js' %}"></script>

{% endblock content %}